.auth-form{
    position: absolute;
    left: 43vw;
    top: 30vh;
}

.auth-form > form > button {
    position: absolute;
    right: 0;
}

.nav-link{
    margin-top: 50px;
    text-align: center;
}

.auth-form form label{
    margin: 0px;
}