.auth-form{
    position: absolute;
    left: 40vw;
    top: 30vh;
}

.auth-form > form > button {
    position: absolute;
    right: 0;
}

.nav-link{
    margin-top: 60px;
    text-align: left;
}

.auth-form form label{
    margin: 0px;
}

.auth-form input{
    border: 1px solid grey;
    border-radius: 10px;
    padding:10px;
}