#chat-page{
    display: flex;
    height: 100%;
}

#left-field{
    min-height: calc(100vh - 181px);
    width:300px;
    border-right: 1px solid grey;
    background: #fff;
}

#chat{
    width: 100%;
}

#chat-header{
    min-width: calc(100vw-300px);
    height: 30px;
    border-bottom: 1px solid grey;
    text-align: center;
    padding-top: 10px;
}

#chat-messages{
    overflow: auto;
    height: calc(100vh - 275px);
    padding-bottom: 0;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #08f;
    }
    &::-webkit-scrollbar-track{
        background: #0cf;
    }
}

#chat-form{
    box-sizing: border-box;
    padding: 12px;
    background: #fff;
    margin-top: 10px;

    button{
        box-sizing: border-box;
        margin-left: -26px;
        vertical-align: top;
        border-radius: 0 50%;
        border: none;
        height: 47px;
        background: #08f;
        color: #fff;
        font-size: 1.2rem;
    }

    input{
        box-sizing: border-box;
        font-size: 1.5rem;
        padding: 7px 5px;
        border-radius: 0 20px 20px 0;
        border: 2px solid #08f;
        width: 80%;
    }
}

#chat-form input{
    width: calc(100% - 48px);
}

.btn-add-friend{
    position: absolute;
    bottom: 90px;
    left: 10px;
    background-color: #08f;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 30pt;
    transition: transform 0.15s linear;
}

.btn-add-friend:hover{
    cursor: pointer;
    transform: rotateZ(45deg);
}


.user{
    padding: 10px;
    padding-top: 11px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row-reverse;
}

.user div:last-child{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.user div:first-child{
    margin-right: auto;
    margin-left: auto;
}

.user-selected div:last-child{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.user:hover{
    background-color: #668fde;
    color: white;
    cursor: pointer;
}

.user-selected{
    padding: 10px;
    padding-top: 11px;
    border-bottom: 1px solid grey;
    background-color: #668fde;
    color: white;
    display: flex;
    flex-direction: row-reverse;
}

.user-selected div:first-child{
    margin-left: auto;
    margin-right: auto;
}

.my-message{
    display: flex;
    flex-direction: row-reverse;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    position: relative;
    
    &::after{
        content: "";
        position: absolute;
        top: 18%;
        right: -4px;
        border-top: 12px solid #668fde;
        border-left: 12px solid #668fde;
        border-bottom: 12px solid transparent;
        border-right: 12px solid transparent;
    }
}

.not-my-message{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 18%;
        left: -6px;
        border-top: 12px solid rgb(110, 100, 247);
        border-right: 12px solid rgb(110, 100, 247);
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
    }
}

.not-my-message div > div:first-child{
    background-color: rgb(110, 100, 247);
    padding: 10px;
    border-radius: 10px;
}

.my-message div > div:first-child{
    background-color: #668fde;
    padding: 10px;
    border-radius: 10px;
}

.msg-date{
    font-size: 10pt;
    color: grey;
}


.delete_user:hover{
    cursor: pointer;
}

.close-header{
    position: absolute;
    right: 10px;
}

.close-header:hover{
    cursor: pointer;
}

.user-login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#chat-header{
    display: flex;
    background-color: #fff;
}

#chat-header div:first-child{
    margin-left: auto;
    margin-right: auto;
}





// -----------------------------------
// modal
// -----------------------------------

.ant-modal-body{
    font-size: 1.4rem;

    input{
        box-sizing: border-box !important;

        width: 100%;
        border-radius: 20px;
        border: none;
        border-bottom: 2px solid #08f;
        font-size: 1.2rem;
        padding: 6px 10px;
    }
}

.ant-modal-footer{

    button{
        padding: 10px;
        border: none;
        border-bottom: 2px solid #08f;
        background-color: #fff;
        cursor: pointer;
    }
}

//// -----------------------------------
// end modal
// -----------------------------------






