#main{
    margin-top: 95px;
    // min-height: calc(100vh - 182px);
    height: calc(100vh - 60px - 95px);
    border-top: 1px solid black;

    background: linear-gradient(50deg , transparent 0% 30%, #f80 30% 70%, transparent 70%), 
    linear-gradient(295deg , transparent 0% 30%, #08f 30% 80%, transparent 80%) 150px 0 no-repeat;
}