#footer{
    padding: 20px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #878787;
    border-top: 1px solid rgb(177, 177, 177);
    color: white;
    text-align: center;
}