#footer{
    height: 55px;
    margin-top: 0px;
    background-color: #788aad;
    border-top: 1px solid black;
    color: white;
    padding-left: 10px;
    padding-top: 30px;
    text-align: center;
}