#footer{
    height: 50px;
    margin-top: 0px;
    background-color: #788aad;
    border-top: 1px solid black;
    max-height: 49px;
    color: white;
    padding-left: 10px;
    padding-top: 30px;
}